/*
Auteur : Alexandre Montandon
Date : 07.01.2023
Description : CSS Pour toutes les pages du site
*/

@font-face {
    font-family: InterMedium;
    src: url(../police/Inter-Medium.ttf);
}

@font-face {
    font-family: InterLight;
    src: url(../police/Inter-Light.ttf);
}

/*Style CSS pour le projet pour le site du module 151*/

*{
    font-family: InterLight;
}

body{
    color: #c4c4c4;
    font-family: InterMedium;
}

input{
    border: 0.01px solid grey;
    color: #c4c4c4;
    background-color: #3a3a3b;
    height: 40px;
    width: 25%;
    font-family: InterMedium;
}

label, h3, h2, h1, p, a{
    color: #c4c4c4;
    font-family: InterMedium;
}

textarea{
    color: #c4c4c4!important;
    border: 0.01px solid grey;
    background-color: #3a3a3b;
    height: 50px;
    width: 220px;
}

select {
    color: #c4c4c4!important;
    background-color: #3a3a3b;
}

/*Style pour refaire bootstrap*/

.container-lg, .container-md{
    width: 70%;
}

.ftco-section {
    padding: 16em 0;
}

.link-dark{
    color: #c4c4c4!important;
    font-family: InterMedium;
}

.form-control{
    font-weight: 300;
    background: transparent;
    border: none;
    height: 50px;
    color: rgb(255, 255, 255) !important;
    border: 2px solid;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}  

::-ms-reveal {
  filter: invert(100%);
}

.btn.btn-primary:hover{
    font-weight: 300;
    background: transparent;
    border: none;
    height: 50px;
    color: rgb(255, 255, 255) !important;
    border: 2px solid;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}  

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    font-size: 100%;
    
}

a:hover, a:focus {
    color: #FFFFFF;
    font-size: 95%;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

/*Style pour les classes générales*/

.dateAdded{
    font-family: InterLight!important;
}

.revenir{
    margin: 35% 0% 0% -35%;
}

.welcome{
    margin: 1%!important;
    font-family: InterLight!important;
}

.revenirLoginLogout{
    margin: 0.2% 0% 0% 1%;
}

.h3lastRecipes{
    margin-left: 17%;
}

/*Style de la page index.php*/

.htmlIndex{
    font-family: Helvetica, sans-serif;
    margin-left: 540px;

}

.linkPointed{
    color: #db2f10;
}

.linkPointed:focus, .linkPointed:hover{
    color: #db2f10;
}

.buttonDisconnect{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 40px;
}

.labelConnectedAdmin{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px;
}

.labelConnectedUser{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px;
}

.allFormConnexion{
    display: flex;
    margin-bottom: 30px;
    align-items: row;
}

.inputMailConnecter{
    width: 200px;
    margin-right: 100px;
}

.labelConnexion{
    margin: 13px;
}

.buttonConnexion{
    margin: 4px 0px 0px 5px;
}

.tableIndex{
    justify-content: space-between;
}

.h1Titre{
    margin-left: 180px;
}

.h2ListProduct{
    margin-left: 270px;
}

.titreTab{
    color: #c4c4c4!important;
    font-family: InterMedium;
    font-weight: bold;
    font-style: italic;
}

.iconPlus{
    position: absolute;
    height: 45px;
    width: 45px;
    margin: 240px 0px 0px 1220px
}



/*Style de la page pour toutes les recettes*/

.textRecipes{
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease;
font-weight: 400;
color: #c4c4c4;
font-family: InterLight;
 
}

.textRecipes:hover, .textRecipes:focus {
    color: #2da7cc;
    text-decoration: none;
    outline: none;
    font-size: 95%;
    -webkit-box-shadow: none;
    box-shadow: none; 
}


/*Style de la page info.php*/

.htmlInfo{
    font-family: Helvetica, sans-serif;
    margin-left: 540px;
}

.barreSeparation{
    width: 100px;
}

.h3info{
    margin: 0% 0% 1% 17%;
}

.recCapacity{
    margin-bottom: 50px;
}

.recDescription{
    margin-bottom: 50px;
}

.recEnergy{
    margin-bottom: 50px;
}

.recPrice{
    margin-bottom: 50px;
}

.recCategory{
    margin-bottom: 50px;
}

.divAjout{
    margin-left: 270px;
}
/*Style de la page de registration*/

.signin-form{
    position: absolute;
    width: 100%;
    height: 1706%;
    padding: 9px;
    background-color: rgb(203 24 24 / 18%);
    border-radius: 5px;
    }

.login-form{
    position: absolute;
    width: 370px;
    height: 220px;
    padding: 9px;
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 5px;
}

.divTitle{
    border-bottom: 0.2px solid white;
    width: 90%;
    margin: auto;
}

.coachIntero{
    margin-left: 52%;
}
.activeCoachRegister{
    color: red;
}

.athleteIntero{
    margin-left: 5%;
}
.activeAthleteRegister{
    color: red;
}

.isWhat{
    border: 2px solid black;
    border-radius: 40px;
}
/*Style de la page modify*/

.formulaireModifie{
    margin-left: 18%;
}

/*Style de la page d'ajout*/

.formulaireAjout{
    margin-left: 18%;
}

/*Style de la page pour suprimmer une donnée dans la base de donnée depuis le site*/

p{
    margin-bottom: 0rem!important;
}

/*Style pour les cartes des utilisateurs*/
.card {
    width: 450px;
    height: 450px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card-flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1%;
  }
  
  .card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    visibility: hidden;
  }
  
  .card-flipped .card-front {
    visibility: hidden;
  }
  
  .card-flipped .card-back {
    visibility: visible;
  }

  .card-text {
    text-align: left;
    overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
    max-height: 400px; /* Modifier la hauteur maximale selon vos besoins */
    z-index: 2;
  }

  .card-back-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir avec une opacité de 0.5 */
    background-size: cover;
    filter: blur(20px); /* Appliquer un flou à l'arrière-plan */
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .card-back-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir avec une opacité de 0.5 */
  }

  .image-container {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Applique une bordure arrondie */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }